<%- include('../partials/head'); %>


<body>
    <%- include('../partials/header'); %>

    <h1>Index</h1>
    <h2>Subtítulo</h2>

    <button><a href="/users/login">LogIn</a></button>
    <button><a href="/users/register">Register</a></button>

    <%- include('../partials/footer'); %>
    
</body>
</html>